.ChaqueDiv{
    border: 2px solid rgb(223, 223, 235); 
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.2);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-right: 20%;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    text-align: center;
}

.ChaqueDiv li{
    list-style: none;
}

.Valider{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 4px;
    color: #fff;
    background-color: #3498db;
}